<div class="body"> <!-- Main Container with background -->
  <div class="container form-container"> <!-- Form Container -->
    <h4>Subscribe &gt; Movie Dekho</h4> <!-- Form Header -->

      <!-- Email Field -->
      <div class="">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          [(ngModel)] = "email"
          disabled readonly
        />
      </div>
      
      
      <!-- Additional Information -->
      <div class="">
        <label for="gender">Gender</label>
        <input 
        type="text"
        id="gender"
        [(ngModel)]= "gender"
        class="form-control"
        disabled readonly
        />
      </div>

      <div class="">
        <label for="dob">Date of Birth</label>
        <input type="text" 
        id="dateOfBirth"
        [(ngModel)]= "dob" 
        class="form-control"
        disabled readonly/>
      </div>

      <div class="">
        <label for="mobile">Mobile Number</label>
        <input
          type="text"
          id="mobile"
          class="form-control"
          [(ngModel)]= "mobile"
          placeholder="Enter your mobile number"
          disabled readonly
        />
      </div>

      <div class="">
        <label for="country">Country</label>
        <input
          type="text"
          id="country"
          class="form-control"
        [(ngModel)]= "country"
          placeholder="Your country"
          disabled readonly
        />
      </div>

      <div class="">
        <label for="subscriptionPlan">Subscription Plan</label>
        <select [(ngModel)]= "subscriptionPlan" 
        class="form-control">
          <option value="PREMIUM">Premium</option>
          <option value="BASIC">Basic</option>
          <option value="NONE">None</option>
        </select>

        <div class="text-danger">
          <div *ngIf = "alreadyPremiumMemberError" >
            User is already a Premium Member
          </div>
          <div *ngIf = "alreadyBasicMemberError" >
            User is already a Basic Member
          </div>
        </div>

      </div>

      <div class="my-3 justify-content-center mx-auto">
        <button  class="btn btn-primary justify-content-center mx-auto" type="submit" value="Update Subscription"  (click)="onUpdateSubscription()" >Update Subscription</button>
      </div>
  </div> 
</div> 
