
<div class="body">
  <div class="container form-container">
    <h4>Sign Up &gt; Movie Dekho</h4>

      <div class="">
        <label for="email">Email <span class="required">*</span></label>
        <input
          type="email"
          placeholder="Enter your email"
          [(ngModel)] = "email"
          class="form-control"
        />
        <div class="text-danger">
          <div *ngIf= "emailError" >Email Required</div>
          <div *ngIf= "emailPatternError"> Enter a Valid Email</div>
          <div *ngIf= "emailAlreadyExistsError" >User Email already Exists With this Email</div>
        </div>

      </div>

      <!-- Username Field -->
      <div class="">
        <label for="username">Username <span class="required">*</span></label>
        <input
          type="text"
          placeholder="Enter a username"
          [(ngModel)] = "username"
          class="form-control"
        />
        <div class="text-danger">
          <div *ngIf = "userNameError" >
            Username is required
          </div>
          <div *ngIf = "userNameAlreadyTakenError" >
            Username Already Taken
          </div>
        </div>
      </div>

      <!-- Password Fields -->
      <div class="">
        <label for="password">Password <span class="required">*</span></label>
        <input
          type="password"
          placeholder="Enter password"
          [(ngModel)] = "password"
          #pwd
          class="form-control"
          
        />
        <div class="text-danger">
          <div *ngIf = "passwordError" >
            Password is required
          </div>
          <div *ngIf = "passwordPatternError" >
            Password must contain at least one number, one uppercase and a
            lowercase letter and at least 8 characters<br />Password cannot
            contain whitespace
          </div>
        </div>
      </div>
      
      <div class="">
        <label for="confirmpassword">Confirm Password <span class="required">*</span></label>
        <input
          type="password"
          placeholder="Confirm your password"
          [(ngModel)] = "confirmpassword"
          #pwd
          class="form-control"
        />

        <div class="text-danger">
          <div *ngIf = "confirmPasswordError" >
            Confirm Password Should match with Password field
          </div>
        </div>
      </div>

      <!-- Role Selection -->
      <div class="">
        <label for="roleName">Sign Up As</label>
        <select class="form-control"  [(ngModel)] = "roleName">
          <option value="ROLE_USER">User</option>
          <option value="ROLE_ADMIN">Admin</option>
        </select>
      </div>

      <!-- Additional Information -->
      <div class="">
        <label for="gender" >Gender</label>
        <select class="form-control" [(ngModel)] = "gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      </div>

      <div class="">
        <label for="dateOfBirth">Date of Birth</label>
        <input
          type="date"
          placeholder="dateOfBirth"
          class="form-control" 
          [(ngModel)] = "dateOfBirth"
        />
      </div>

      <div class="">
        <label for="mobileNumber">Mobile Number <span class="required">*</span></label>
        <input
          type="text"
          placeholder="Enter your mobile number"
          class="form-control" 
          [(ngModel)]= "mobileNumber"
        />
        <div class="text-danger">
          <div *ngIf = "mobileNumberValidationError" >
            Invalid Mobile Number
          </div>
          <div *ngIf = "mobileNumberAlreadyTakenError" >
            Username Already Taken
          </div>
        </div>
      </div>

      <div class="">
        <label for="country">Country</label>
        <input
          type="text"
          placeholder="Your country"
          class="form-control" 
          [(ngModel)]= "country"
        />
      </div>

      <!-- Conditional Subscription Plan -->
     <!--  <div *ngIf="registerForm.get('roleName').value !== 'ROLE_ADMIN'" class="">
        <label for="subscriptionPlan">Subscription Plan</label>
        <select class="form-control" [(ngModel)] = "subscriptionPlan">
          <option value="PREMIUM">Premium</option>
          <option value="BASIC">Basic</option>
          <option value="NONE">None</option>
        </select>
      </div> -->

      <div class="my-3 justify-content-center mx-auto">
        <button  class="btn btn-primary justify-content-center mx-auto" type="submit" (click)="onSubmit()" >Sign-Up</button>
      </div>
  </div>
</div>
