
<div class="container my-4"> 
  <!-- Admin Dashboard Header -->

  <h2 class="text-center movie-collection-header">Admin Dashboard - Manage Movies</h2>

  <!-- Add New Movie Button -->
  <div class="col-12 text-end mb-4">
    <button class="btn btn-primary" (click)="openAddMovieForm()">
      Add New Movie
    </button>
  </div>

  <!-- Movie Collection with Update and Delete Options -->
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let movie of movies">
      <div class="card h-100 movie-card">
        <img
          src="{{ movie.moviePoster }}"
          class="card-img-top"
          alt="{{ movie.title }} poster"
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">Actors: {{ movie.actors }}</p>
          <p class="card-text">Genre: {{ movie.genre }}</p>
          <p class="card-text">
            <small class="text-muted">Release date: {{ movie.yearOfRelease }}</small>
          </p>
          <!-- Update and Delete Buttons -->
          <div class="d-flex justify-content-between mt-3">
            <button
              class="btn btn-outline-info"
              (click)="updateMovieDetails(movie)"
            >
              Update
            </button>
            <button
              class="btn btn-outline-danger"
              (click)="deleteMovie(movie.title)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>